#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#nav {
  float: left;
  background-color: lightgray;
  width: 120px;
  min-height: 620px;
  padding: 10px;
}

#content {
  float: left;
  padding: 20px;
  width: 800px;
}

#content-centered {
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  width: 1000px;
}

#footer {
  clear: both;
  background-image: linear-gradient(to top, gray, black);
  color: white;
  text-align: center;
  padding: 20px;
}

.logo {
  font-size: 44px;
  font-weight: 700;
  color: rgba(226, 219, 245, 0.66);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#topnav {
  background-color: #1c74b2;
  text-align: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  min-height: 38px;
  line-height: 200%;
}

.menu>li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px dashed #0a2b42;
}

.menu>li:first-child {
  border-left: 1px dashed #0a2b42;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: #0a2b42;
}

body {
  background-image: radial-gradient(lightslategray,
      rgb(104, 95, 95),
      rgb(75, 72, 72));
}

.selected {
  text-decoration: underline;
}

.examples {
  width: 40%;
  float: left;
}

.images {
  width: 60%;
  float: right;
}

img {
  max-width: 140%;
  margin-left: 15px;
}

.outer {
  background-color: blue;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-image: url(https://www.w3schools.com/cssref/border.png) 30 round;
}

.inner {
  background-color: red;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 4px dotted green;
}

.inner2 {
  background-color: yellow;
  width: 70px;
  height: 70px;
  float: right;
  border: 3px dashed red;
  border-radius: 15px;
}

form.contactFormRow {
  display: table;
}

div.contactFormRow {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

.formContainer {
  margin-left: 7%;
  margin-right: 10%;
  padding: 20px;
}

input:invalid {
  background-color: lightcoral;
  transition: background-color 0.25s ease-in-out;
}

input:valid:not([type="submit"]) {
  background-color: lightgreen;
  transition: background-color 0.25s ease-in-out;
}

table {
  overflow-x: auto;
}

table,
tr,
td {
  border-collapse: collapse;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: lightblue;
}

tr:nth-child(odd) {
  background-color: lightcoral;
}

th {
  background-color: lightseagreen;
  text-align: center;
}

#selection {
  display: table;
}

dt {
  font-size: 20pt;
  color: #1c74b2;
}

dd {
  font-size: 20px;
}

.pageHeader {
  font-size: 200%;
  color: rgb(33, 59, 143);
}

.pageHeaderSmaller {
  font-size: 150%;
  color: rgb(33, 59, 143);
}

div.examples>ol>li:nth-child(odd) {
  color: rgb(187, 11, 119);
}

div.examples>ol>li:nth-child(even) {
  color: rgb(72, 120, 209);
}

dl>* {
  font-style: italic;
}

h3+p {
  color: rgb(5, 161, 201);
}

dd~dt {
  color: rgb(5, 161, 201);
}

img[src*="tags"] {
  opacity: 0.5;
  transition: transform 0.5s;
}

img[src*="tags"]:hover {
  transform: scale(1.1);
  opacity: 1;
}

a[href^="index"] {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}

.novisible {
  visibility: hidden;
}

.dropbtn {
  background-color: #1c74b2;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: none;
  min-height: 38px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c74b2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-height: 38px;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1c74b2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #1c74b2;
}

.shadowedText {
  text-shadow: 2px 2px hsla(300, 73%, 59%, 0.75);
}

.faqDiv {
  border: 1px solid #1c74b2;
  box-shadow: 3px 3px black;
  display: inline-block;
}

a.dropdown-toggle:focus {
  pointer-events: none;
}

a.dropdown-toggle:focus+.bootstrapDropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.dropdown-menu {
  opacity: 0;
  display: block;
  visibility: hidden;
  transition: visibility 0.5s;
}

.navClass {
  background-image: linear-gradient(to right, #007bff, #0051ff, #001aff);
  border-radius: 5px;
}